.buttonkol
{
    background-color:red;
}
.buttonkol_size {
    font-size:18px;
}
.color:hover {
        background: #53ea93;
        color: green;
 }

.blue 
{
    color:blue;
}
.green {
    color: green;
}
<<<<<<< HEAD
#butYellow {
    color: yellow;
    background-color:yellowgreen;
}


div.greed {
    color: red;
    background-color: aqua;
}
=======
>>>>>>> parent of 11f7690 (add click)
.ulkol{
    list-style:none;
    display:flex;
    flex-direction:row;
    font-size:15px;
}
.likol {
    background-color:red;
    font-family:serif;
    margin:5px 1px 5px 1px;
}
ul li {
    color: blue;
    margin: 10px;
    //transform: rotate(90deg);
}
    ul li:hover {
        background: #53ea93;
        color: green;
        //transform: rotate(90deg);
    }
a {
    background-image: url(../image/bubble.png);
    background-repeat: no-repeat;
    height: 98px;
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    transform: rotate(90deg);
}
a.google {
    background-position: -600px top;
}
a.youtube {
    background-position: -200px top;
}