.buttonkol
{
    background-color:red;
}
.buttonkol_size {
    font-size:18px;
}
.color:hover {
        background: #53ea93;
        color: green;
 }

.blue 
{
    color:blue;
}
.green {
    color: green;
}
#butYellow {
    color: yellow;
    background-color:yellowgreen;
}


div.greed {
    color: red;
    background-color: aqua;
}
.ulkol{
    list-style:none;
    display:flex;
    flex-direction:row;
    font-size:15px;
}
.likol {
    background-color:red;
    font-family:serif;
    margin:5px 1px 5px 1px;
}
ul li{
    color:red;
    margin: 10px;
}
ul li:hover {
        background: #53ea93;
        color: green;
}
